@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>Movie Time!</h1>

<div>
    <p>A website for those who love movies! Welcome!</p>
</div>

<img src="~/img/JoelHiltonHeadshot.jpg"/>
<br />
